


<h1 class="text-warning">Registration Form</h1>


    <div class = 'container'>
        <div class="panel panel-primary">
            <div class="panel-heading">User Details</div>
                <div class="panel-body">

                    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">


                        <div class="row">
                            <div class="col-sm-7">
                            <div class="form-group">
                                <label for="User Name">Enter Customer Name</label>
                                <input type="text" formControlName="customerName" class="form-control" id="customerName"
                                placeholder="Enter Name">
                            </div>
                            </div>

                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="User Email">Enter Customer Email</label>
                                    <input type="email" formControlName="customerEmail" class="form-control" id="customerEmail"
                                    placeholder="Enter E-mail">
                                </div>
                            </div>


                            <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="User State">Enter Customer State</label>
                                        <input type="text" formControlName="customerState" class="form-control" id="customerState"
                                        placeholder="Enter State">
                                    </div>
                            </div>

                            <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="User City">Enter Customer City</label>
                                        <input type="text" formControlName="customerCity" class="form-control" id="customerCity"
                                        placeholder="Enter City">
                                    </div>
                            </div>


                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="User address">Enter Customer Address</label>
                                        <input type="text" formControlName="customerAddress" class="form-control" id="customerAddress"
                                        placeholder="Enter Address">
                                    </div>

                                    

                                    <div class="form-group">
                                        <label for="pincode">Enter Pincode</label>
                                        <input type="number" formControlName="customerPinCode" class="form-control"
                                            placeholder="ENTER pincode" id="customerPinCode">
                                    </div>


                                    <div class="form-group">
                                            <label for="password">Enter Password </label>
                                            <input type="password" formControlName="customerPassword" class="form-control"
                                            placeholder="Please Enter Password" id="customerPassword">
                                        </div>

                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label for="User Mobile No">Enter Customer Mobile No</label>
                                            <input type="number
                                            " formControlName="customerPhoneNumber" class="form-control" id="customerPhoneNumber"
                                                placeholder="Enter 10 digit mobile no">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                    <div class="col-sm-7"></div>
                                    <div class="col-sm-7"></div>
                                    </div>
                                </div>
                            
                        
                        </form>
                            {{userForm.value|json}}
        </div>
    </div>
</div>