
 
<nav class="navbar navbar-expand-sm bg-info fixed-top">
  <a class="navbar-brand text-white" href="">HOBMAN</a>
  
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link active text-white" data-toggle="pill" routerLink="home">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link active text-white" data-toggle="pill" routerLink = "aboutus" >About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-white" data-toggle="pill" routerLink = "checkin" href="">Check In</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active text-white" routerLink = "customerSignUp" data-toggle="pill" >Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-white" data-toggle="pill" routerLink="customerlogin">Login</a>
         </li>
    </ul>
</nav>
<br>


  <router-outlet></router-outlet>



<footer id="sticky-footer" class="py-4 bg-info text-white-50 fixed-bottom">
  <div class="container text-center">
   <small>Copyright &copy; Your Website</small>
 </div>
</footer>


