

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1 class = "text-white">About <span>Hobman</span></h1>
								<h3 class = "text-white">New-gen Hotel Solution</h3>
								<p class="about-padding text-white">HotelBooking is an omni-channel, hotel booking company that provides no. of hotels through its website HotelBooking.com. </p>
								<p class = "text-white">Our Team : </p>
						<div class="about-icons"> 
                            <ul >
                                <li class = "text-white">Akash Yadav</li>
                                <li class = "text-white">Atul Nirbhavane</li>
                                <li class = "text-white">Akash Kodamble</li>
                                <li class = "text-white">Karan Mishra</li>
                                <li class = "text-white">Pragati Dhekale</li>
                                <li class = "text-white">Anuja Kolekar</li>
                            </ul>       
               
               
	           
	           
	        
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>
