<h1 class="text-warning text-center"><b>Some Of Our Reviews!</b></h1>
<div class="card-columns">
        <div class="card bg-info ">
         
          <div class="card-body text-left">
            <h5 class="card-title">Delightful Experience!</h5>
            <p class="card-text">"Staff were very delightful, helpful and considerate. Thank you for giving us such memorable time during our short stay.."</p>
            <footer class="blockquote-footer">
                <small class="text-white">
                    Lai,
                    Hong Kong
                </small>
            </footer>
          </div>
        </div>
        <div class="card p-3 bg-info text-left">
          <blockquote class="blockquote mb-0 card-body">
              <h5 class="card-title">Excellent Service!</h5>
            <p>"Service was on par!"</p>
            <footer class="blockquote-footer">
              <small class="text-white">
                Jane Doe, Bondai
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card bg-info text-left ">
          <div class="card-body">
            <h5 class="card-title">"Convenient Location"</h5>
            <p class="card-text">"Location is all right in the terms of proximity to the center, and a couple of attractions nearby."</p>
            <footer class="blockquote-footer">
                <small class="text-white">
                    John Doe, Austria
                </small>
            </footer>
            
          
          </div>
        </div>
        <div class="card bg-info text-left p-3">
          <blockquote class="blockquote mb-0">
              <h5 class="card-title">Well Equipped Kitchen!</h5>
            <p>The kitchen was very well equipped and the room was comfy!</p>
            <footer class="blockquote-footer">
              <small class="text-white">
                Hitesh Joshi, Calicut
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card bg-info text-left">
          <div class="card-body">
            <h5 class="card-title">Lovely Location</h5>
            <p class="card-text">Lovely location, a really nice place very comfortable friendly atmosphere very relaxing</p>
            <footer class="blockquote-footer">
                <small class="text-white">
                    Wong Lee, Seoul
                </small>
            </footer>
          </div>
        </div>
        
        <div class="card p-3 bg-info text-left">
          <blockquote class="blockquote mb-0">
              <h5 class="card-title">"Elegant Rooms"</h5>
            <p>Good service. Good staff. Good location</p>
            <footer class="blockquote-footer">
              <small class="text-white">
                Brave Stone, Hawaii
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card bg-info">
          <div class="card-body">
            <h5 class="card-title">"Amazing"</h5>
            <p class="card-text">The staff rocked! Everyone we interacted with. I really liked I could have guests.</p>
            <footer class="blockquote-footer">
                <small class="text-white">
                   Tenpenny, Dallas
                </small>
            </footer>
          </div>
        </div>
      </div>